{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif%}

    <div class="content container-box">
        <div id="login">
            <h1 class="title">Login</h1>
            <form action="{% url "login" %}" method="POST" id="loginForm" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}

                <div class="form-floating mb-3 col">
                    <input type="text" name="email" class="form-control" id="floatingName" placeholder="name@example.com"
                        required>
                    <label for="floatingName">Email</label>
                    <div class="error-message-name"></div>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"
                        required>
                    <label for="floatingPassword">Password</label>
                    <div class="error-message-password"></div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>

                <p class="link">
                    Do you want to register?
                    <a href="{% url "register" %}">Register</a>
                </p>
            </form>
        </div>
    </div>

{% endblock content %}