{% extends "base.html" %}

{% block page_title %}
    Register
{% endblock page_title %}

{% block content %}

    <div class="content">
        <div id="register">
            <h1 class="title">Register</h1>

            <!-- Register Form Starts -->
            <form method="post" id="registerForm" class="row g-3 needs-validation" novalidate>
                <div class="form-floating">
                    <input type="name" class="form-control" id="floatingInput" placeholder="Name" required>
                    <label for="floatingInput">Name</label>
                    <div class="error-message-name"></div>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
                        required>
                    <label for="floatingEmail">Email address</label>
                    <div class="error-message-email"></div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        required>
                    <label for="floatingPassword">Password</label>
                    <div class="error-message-password"></div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>

                <p class="link">
                    Do you already have an account?
                    <a href="{% url "login" %}">Login</a>
                </p>
            </form>
            <!-- Register Form Ends -->

        </div>
        <!-- Register Form Ends -->
    </div>

{% endblock content %}