{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
    {% if student.pk %}
        Edit Student
    {% else %}
        Add Student
    {% endif %}
{% endblock page_title %}



{% block header %}
    <div class="container">
        <a class="navbar-brand">Logged as ...</a>
    </div>
{% endblock header %}

{% block content %}

    {% comment %} 
    Content 
    {% endcomment %}

    <div class="container add-student-container">
        {% if student.pk %}
            <h1>Edit Student</h1>
        {% else %}
            <h1>Add Student</h1>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn students-btn">Save</button>
        </form>
    </div>
    
{% endblock content %}