/* Default Styles */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a.links {
    display: none;
}

p {
    margin-bottom: 15px;
}

.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    width: 100% !important;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 1.25rem;
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.btn:hover,
.btn:active {
    background: #4ab3c6 !important;
    border: 1px solid #7f7c7c;
}

.error-message-email,
.error-message-password,
.error-message-name {
    margin-top: 5px;
    color: red;
}

/* Login and Register styles */
#register,
#login {
    padding: 20px 30px;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 4px;
}

.content {
    width: 500px;
    min-height: 560px;
    margin: 0 auto;
    position: relative;
}

/* Title Style */
.title {
    font-size: 3rem;
    padding: 2px 0 10px 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.title:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(
        left,
        rgba(147, 184, 189, 0) 0%,
        rgba(147, 184, 189, 0.8) 20%,
        rgba(147, 184, 189, 1) 53%,
        rgba(147, 184, 189, 0.8) 79%,
        rgba(147, 184, 189, 0) 100%
    );
    background: linear-gradient(
        left,
        rgba(147, 184, 189, 0) 0%,
        rgba(147, 184, 189, 0.8) 20%,
        rgba(147, 184, 189, 1) 53%,
        rgba(147, 184, 189, 0.8) 79%,
        rgba(147, 184, 189, 0) 100%
    );
}

.form-floating > label {
    margin-left: 5px;
}

.form-control:focus {
    box-shadow: none;
}

label {
    color: #405c60 !important;
}

/* Input Style */
input {
    outline: none;
}

/* Link Style */
.link {
    color: #7f7c7c;
    padding-top: 20px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    margin-bottom: 0;
}

.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    border: 1px solid #7f7c7c;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
}

/* Students */
/* Table */
tbody th {
    font-weight: 400 !important;
}
.student-container,
.add-student-container {
    padding-top: 100px;
}

.table .btn {
    font-size: 1rem;
    margin-bottom: 0;
    padding: 3px 0;
}

.table .btn:last-child {
    background-color: red;
}

.table .btn:last-child:hover {
    background-color: red !important;
}

.table-row-actions {
    display: flex;
    gap: 10px;
}

.add-student {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-delete-button:hover {
    color: #333;
}

/* THead */
.table-dark {
    --bs-table-bg: rgb(61, 157, 179);
    --bs-table-color: #fff;
    font-weight: 100 !important;
}

/* Button */
.students-btn {
    font-size: 0.9rem;
    width: 150px !important;
    background: rgb(61, 157, 179);
}

.students-btn:hover {
    color: #fff;
    background-color: #4ab3c6 !important;
    border: 1px solid #7f7c7c;
}

/* NavBar Button */
.d-flex {
    width: 400px;
}

.d-flex .students-btn {
    margin: 0;
}

/* Add Students */
/* .add-student-container .students-btn {
    border: 1px solid red;
    position: absolute;
    right: 0;
} */
