*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

a.links {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 15px;
}

#register,
#login {
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189, 0.8);

    -webkit-box-shadow: 5px;
    border-radius: 5px;

    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;

    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#toregister:target ~ .content #register,
#tologin:target ~ .content #login {
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;

    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#register:target ~ .content #login,
#tologin:target ~ .content #register {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

/* Animation to change between login and register */
/* FadeInLeft */
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/* FadeOutLeft */
@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.content {
    width: 500px;
    min-height: 560px;
    margin: 0 auto;
    position: relative;
}

.title {
    font-size: 3rem;
    padding: 2px 0 10px 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.title:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(
        left,
        rgba(147, 184, 189, 0) 0%,
        rgba(147, 184, 189, 0.8) 20%,
        rgba(147, 184, 189, 1) 53%,
        rgba(147, 184, 189, 0.8) 79%,
        rgba(147, 184, 189, 0) 100%
    );
    background: linear-gradient(
        left,
        rgba(147, 184, 189, 0) 0%,
        rgba(147, 184, 189, 0.8) 20%,
        rgba(147, 184, 189, 1) 53%,
        rgba(147, 184, 189, 0.8) 79%,
        rgba(147, 184, 189, 0) 100%
    );
}

.form-floating > label {
    margin-left: 5px;
}

label {
    color: #405c60 !important;
}

/* Input Style */
input {
    outline: none;
}

/* Submit button */
.btn {
    width: 100% !important;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 1.25rem;
    border: 1px solid #fff;
    margin-bottom: 20px;
    text-shadow: 0 1px 1px #333;
}

.btn:hover,
.btn:active {
    background: #4ab3c6 !important;
}

.link {
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    bottom: 0px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    margin-bottom: 0;

    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    border: 1px solid #cbd518;

    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
}
